<form action="/actor/depth" method="post">
    <label> Actor Name </label>
    <input type="text" name="actor" placeholder="Actor Name">
    <br>
    <label> Graph Depth </label>
    <input type="text" name="depth" placeholder="Depth">
    <br>
    <input type="submit" value="Submit">
</form>

